 <div class="card_container">
        <img
          src="{{img}}"
          alt="Ноутбук"
        />
        <h2>{{name}}</h2>
        <div class="information_container">
          <p>Процесор: {{processor}}</p>
          <p>Обʼєм памяті: {{storage}}</p>
        </div>
        <button>Купити {{price}}</button>
</div>